Django==4.2.7
djangorestframework==3.14.0
django-celery-beat==2.5.0
celery==5.3.6
redis>=4.0
streamlit
requests==2.31.0
python-dotenv==1.0.0
django-cors-headers==4.3.1
psycopg2-binary==2.9.9
google-api-python-client
gunicorn
pytz==2023.3.post1
reportlab==4.2.0
urllib3==2.0.7
dj-database-url